* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #FEF5ED;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 2em 0 0 0;
}

h1 {
 text-align: center;
}
p {
    text-align: center;
}
#main {
    display: flex;
    align-items: center;
    margin: 5em 0 -8em 7em;
}
#input {
    margin-left: 17em;
    background: rgba(255, 204, 159, 0.19);
    box-shadow: -10px -10px 20px rgb(0 0 0 / 25%), 10px 10px 20px rgb(0 0 0 / 25%);
    border-radius: 18px;
    /* height: 2em; */
    width: 19em;
    padding: 11px;
}
#input input {
    border: none;
    background: #feedde;
    outline: none;
    width: 92%;
}
.fa-microphone-alt {
    font-size: 1.5em;
    margin-left: 1em;
}
footer {
    text-align: center;
    margin: 6.5em 0 0 6em;
    /* white-space: nowrap; */
}
span {
    margin-right: 8px;
}
.thing {
    display: flex;
    align-items: center;
    margin-bottom: 4em;
}
#weather {
    /* background: #FEEDDE;
    box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.25), 10px 10px 20px rgba(0, 0, 0, 0.25); */
    border-radius: 18px;
    width: 24em;
    height: 10em;
}

#result {
    background: #FEEDDE;
    box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.25), 10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    width: 29em;
    height: 17em;
}
.extra {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.team {
    font-weight: 600;
}

